.main {
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  /* padding: 6rem; */
  /* min-height: 100vh; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 80px;
  padding: 0 20px;
  background: #004DB3;
}

.navbar__title {
  font-size: 24px;
  font-weight: bold;
}

.navbar__navigation {
  display: flex;
  list-style: none;
}

.navbar__navigation li {
  margin: 0 10px;
}

.navbar__navigation li a {
  color: #AAC4E6;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar__navigation li a:hover {
  color: #FFFFFF;
}
